{% extends "layout.html" %}

{% block title %}
- zmiana hasła użytkownika
{% endblock %}

{% block content %}

{% load bootstrap %}

<form method="post" action="">{% csrf_token %}
    <h2 class="form-signin-heading">Zmiana hasła</h2>

    <div class="alert alert-warning">
        Uwaga: po zatwierdzeniu formularza hasło użytkownika zostanie zmienione.
    </div>

    {{form | bootstrap}}

    <button type="submit" class="btn btn-primary">Zmień hasło</button>
    <a href="{% url 'user_page' %}" class="btn btn-default">Anuluj</a>
</form>
{% endblock %}