{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}
{% if response is not None %}
<div class="alert alert-danger">{{response}}</div>
{% endif %}

{% load bootstrap %}
<form method="POST" action="/" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Wejście do listy zadań</h2>

    {{ form | bootstrap }}
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
        <a class="btn btn-default" href="/register">Załóż konto</a>
    </div>
</form>
{% endblock %}