{% extends "layout.html" %}
{% block title %} - Lista zadań{% endblock %}

{% block content %}

    <h1>Lista zadań</h1>

	<table class="table table-bordered">
		<thead>
		<tr>
			<td>Nazwa</td><td>Opis</td><td>Początek</td><td>Koniec</td><td>Zrobione</td><td>Akcje</td>
		</tr>
		</thead>
		<tbody>
		{% for task in object_list %}
		<tr>
			<td>{{task.name}}</td><td>{{task.description}}</td><td>{{task.start}}</td><td>{{task.end}}</td>
            <td>
				{% if task.done %}
                Tak
                {% else %}
                Nie
				{% endif %}
			</td>
			<td>
				<a href="{% url 'task_edit' task.id %}">edytuj</a>
				<a href="{% url 'task_delete' task.id %}">usuń</a>
			</td>
		</tr>
        {% empty %}
        <tr>Brak zadań</tr>
		{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success" href="{% url 'task_new' %}">dodaj</a>
	<a class="btn btn-default" href="{% url 'task_list_done' %}">pokaż wykonane zadania</a>
	<a class="btn btn-default" href="{% url 'task_list_todo' %}">pokaż zadania do zrobienia</a>

{% endblock %}