<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% load staticfiles %}
<title>Lista zadań - usuń</title>
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
	<form method="post" action="">{% csrf_token %}
		Czy na pewno chcesz usunąć zadanie "{{ object.name }}" ?
		<button type="submit" class="btn btn-danger">Tak</button>
		<a class="btn btn-default" href="{% url "task_list" %}">Nie</a>
	</form>
</body>
</html>