<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% if task.done %}
<title>Lista zadań - wykonane</title>
{% else %}
<title>Lista zadań - do zrobienia</title>
{% endif %}
</head>
<body>
{% if task.done %}
<h1>List wykonanych zadań</h1>
{% else %}
<h1>List zadań do zrobienia</h1>
{% endif %}
	<ul>
		{% for task in object_list %}
		<li>{{task.name}}:
			<a href="{% url "task_edit" task.id %}">edytuj</a>
			<a href="{% url "task_delete" task.id %}">usuń</a>
		</li>
		{% endfor %}
	</ul>
	
	<a href="{% url "task_new" %}">dodaj</a>
	<a href="{% url "task_list" %}">pokaż listę zadań</a>
</body>
</html>