{% extends "layout.html" %}

{% block title %}
    {% if view.done %}
     - Lista wykonanych zadań
    {% else %}
    - Lista zadań do wykonania
    {% endif %}
{% endblock %}

{% block content %}

	{% if view.done %}
	<h1>Lista wykonanych zadań</h1>
	{% else %}
	<h1>Lista zadań do zrobienia</h1>
	{% endif %}

	<table class="table table-bordered">
		<thead>
		<tr>
			<td>Nazwa</td><td>Opis</td><td>Początek</td><td>Koniec</td><td>Akcje</td>
		</tr>
		</thead>
		<tbody>
		{% for task in object_list %}
		<tr>
			<td>{{task.name}}</td><td>{{task.description}}</td><td>{{task.start}}</td><td>{{task.end}}</td>
			<td>
				<a class="btn btn-default" href="{% url 'task_details' task.id %}">
					<span class="glyphicon glyphicon-info-sign"></span>
					Szczegóły
				</a>
				{% if not task.done %}
				<a class="btn btn-warning" href="{% url 'task_finish' task.id %}">
					<span class="glyphicon glyphicon-stop"></span>
					Zakończ
				</a>
				{% endif %}
				<a class="btn btn-info" href="{% url 'task_edit' task.id %}">
					<span class="glyphicon glyphicon-pencil"></span>
					Edytuj
				</a>
				<a class="btn btn-danger" href="{% url 'task_delete' task.id %}">
					<span class="glyphicon glyphicon-remove"></span> Usuń
				</a>
			</td>
		</tr>
		{% empty %}
		<tr>
            Brak zadań {% if view.done %}wykonanych.{% else %}do wykonania.{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success" href="{% url 'task_new' %}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
	<a class="btn btn-default" href="{% url 'task_list' %}">Pokaż listę zadań</a>

{% endblock %}