{% extends "layout.html" %}

{% block title %}
    {% if view.done %}
     - Lista wykonanych zadań
    {% else %}
    - Lista zadań do wykonania
    {% endif %}
{% endblock %}

{% block content %}

	{% if view.done %}
	<h1>Lista wykonanych zadań</h1>
	{% else %}
	<h1>Lista zadań do zrobienia</h1>
	{% endif %}

	<table class="table table-bordered">
		<thead>
		<tr>
			<td>Nazwa</td><td>Opis</td><td>Początek</td><td>Koniec</td><td>akcje</td>
		</tr>
		</thead>
		<tbody>
		{% for task in object_list %}
		<tr>
			<td>{{task.name}}</td><td>{{task.description}}</td><td>{{task.start}}</td><td>{{task.end}}</td>
			<td>
				<a href="{% url 'task_details' task.id %}">szczegóły</a>
				{% if not task.done %}<a href="{% url 'task_finish' task.id %}">zakończ</a>{% endif %}
				<a href="{% url 'task_edit' task.id %}">edytuj</a>
				<a href="{% url 'task_delete' task.id %}">usuń</a>
			</td>
		</tr>
		{% empty %}
		<tr>
            Brak zadań {% if view.done %}wykonanych.{% else %}do wykonania.{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success" href="{% url 'task_new' %}">dodaj</a>
	<a class="btn btn-default" href="{% url 'task_list' %}">pokaż listę zadań</a>

{% endblock %}