{% extends "layout.html" %}
{% block title %} - {% if delete_mode %}usuwanie{% else %}zakończenie{% endif %} zadania {{object.name}} {% endblock %}

{% block content %}

    <h1>{% if delete_mode %}Usuwanie{% else %}Zakończenie{% endif %} zadania {{object.name}}</h1>

	<form method="post" action="" role="form">{% csrf_token %}
		Czy na pewno chcesz {% if delete_mode %}usunąć{% else %}zakończyć{% endif %} zadanie "{{ object.name }}" ?

        <div>
            <button type="submit" class="btn btn-danger">Tak</button>
            <a class="btn btn-default" href="{% url 'task_list' %}">Nie</a>
        </div>
	</form>

{% endblock %}