{% extends "layout.html" %}
{% block title %} - Lista zadań{% endblock %}

{% block content %}

    <h1>Lista zadań</h1>

	<table class="table table-bordered">
		<thead>
		<tr>
			<td>Nazwa</td><td>Opis</td><td>Początek</td><td>Koniec</td><td>Zrobione</td><td>Akcje</td>
		</tr>
		</thead>
		<tbody>
		{% for task in object_list %}
		<tr>
			<td>{{task.name}}</td><td>{{task.description}}</td><td>{{task.start}}</td><td>{{task.end}}</td>
            <td>
				{% if task.done %}
                Tak
                {% else %}
                Nie
				{% endif %}
			</td>
			<td>
				<a class="btn btn-default" href="{% url 'task_details' task.id %}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Szczegóły
                </a>
                {% if not task.done %}
				<a class="btn btn-warning" href="{% url 'task_finish' task.id %}">
                    <span class="glyphicon glyphicon-stop"></span>
                    Zakończ
                </a>
				{% endif %}
				<a class="btn btn-info" href="{% url 'task_edit' task.id %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edytuj
                </a>
				<a class="btn btn-danger" href="{% url 'task_delete' task.id %}">
                    <span class="glyphicon glyphicon-remove"></span> Usuń
                </a>
			</td>
		</tr>
        {% empty %}
        <tr>Brak zadań</tr>
		{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success" href="{% url 'task_new' %}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
	<a class="btn btn-default" href="{% url 'task_list_done' %}">Pokaż wykonane zadania</a>
	<a class="btn btn-default" href="{% url 'task_list_todo' %}">Pokaż zadania do zrobienia</a>

{% endblock %}